.advantages {
	padding-top: calc(84px + 138px);

	@media screen and(min-width: 1200px) {
		padding-top: calc(var(--section-pt) + 138px);
		padding-bottom: var(--section-pb);
	}
}

.advantages__container {
	display: flex;
	flex-direction: column-reverse;
	gap: 44px;

	@media screen and(min-width: 1200px) {
		flex-direction: row;
	}
}

.advantages__left-side,
.advantages__right-side {
	@media screen and(min-width: 1200px) {
		width: calc(100% / 2 - 15px);
	}
}

.advantages__right-side {
	@media screen and(min-width: 768px) {
		width: 500px;
	}
}

.advantages__left-side {
	@media screen and(min-width: 768px) {
		width: 450px;
		margin-left: auto;
	}

	@media screen and(min-width: 1200px) {
		margin-right: 130px;
		margin-left: 0;
	}
}

.advantages__list {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0 auto;

	@media screen and(min-width: 1200px) {
		width: 370px;
		margin-right: 0;
		margin-left: auto;
	}
}

.advantages__item {
	width: calc((100% - 30px) / 2);
	min-height: 133px;
	background-color: #f7f7f7;
	padding: 20px;

	&:not(:nth-child(even)) {
		margin-right: 30px;
	}

	&:nth-child(even) {
		margin-top: 30px;
	}

	@media screen and(min-width:1200px) {
		flex-basis: calc(100% / 2 - 15px);
	}
}

.advantages__count {
	font-weight: 700;
	font-size: 42px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.05em;
	color: #303030;
	margin-bottom: 6px;
}

.advantages__description {
	max-width: 460px;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	text-align: center;
	color: #303030;
}
